/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue: rgb(66, 168, 232);
  --custom-pink: rgb(253, 200, 246);
  --custom-purple: rgb(153, 174, 228);
  --custom-grey: rgb(240, 240, 240);
}

::selection {
  background: var(--custom-blue);
  color: white;
}

button:hover {
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--custom-grey);
}

@layer base {
  @font-face {
    font-family: "ft88";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/FT88-School.woff2) format("woff2");
  }
  @font-face {
    font-family: "nb_international_pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/nb_international_pro_regular-webfont.woff2) format("woff2");
  }
}
